---
layout: default
title: Home
---

<div class="posts">
  <h1>Welcome to Ryan Park's research portfolio!</h1>
  <p>Scroll down to view each research project post, ordered by date.
  To see more about me, go to my <a href="{{ post.url }}/about/">About</a> page. To view my GitHub, go to my <a href="https://github.com/orangese">homepage.</a></p>
  <hr>
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
	{% assign title = post.title | split: "–" %}
	<strong>{{ title[0] }}</strong>: {{ title[1] }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
